body {
  background-color: #A1E8D9;
  margin: 80px;
  font-family: 'Rokkitt', 400;
}
.mighty {
  background-color: #CFC291;
}

a {
  text-decoration: none;
  color: #FF712C;
  }

li a:hover {
  text-decoration: none;
  color: white;
  background-color: #CFC291;
  padding: 1.7em;
  border-radius: 4px;
  border: 1px solid #FF712C;
  font-style: normal;
  font-size: 1em;
  font-weight: 600;
}
a:visited {
  color: gray;
  font-size: .5em;
}
nav {
  float: right;
  font-family: "Questrial";
  height: 30px;
  width: 70%;
  text-align: center;
  padding: 1em;
  border-radius: 1em;
  color: darkblue;
  font-weight: 600;
}
nav a {
  text-decoration: none;
  color: black;
  font-weight: 300;
  background-color: beige;
  padding: 1em;
  margin: 1em;
  border: 1px solid gray;
  border-radius: .5em;
    }
nav a:hover {
  color: white;
  background-color: dimgray;
  padding: 1.1em;
  border-radius: .25em;
  font-size: 1.25em;
}
article {
  background-color: beige;
  padding: 1em;
  width: 70%;
  border-radius: 1em;
  border: 3px dashed #695D46;
}
h1 {
  width: 70%;
  color: #695D46;
  font-size: 2em;
  border-radius: 20px;
  font-family: "Questrial";
  text-align: center;
  padding: 20px;
}
img {
  height: 4%;
  width: 4%;
  vertical-align: middle;
  border-radius: 12px 20px 0px 10px;
  margin: 5px;
  padding: 1em;
  border: 2px solid #FF712C;
  background-color: white;
}

ul { 
  list-style-type: none;
}
li {
  list-style-type: none;
  font-family: "Pacifico";
}
footer {
  font-size: medium;
  font-weight: 600;
  color: #695D46;
  border: 5px solid #695D46;
  padding: 1em;
  border-radius: 1em;
  width: 70%;
  text-align: center;
  border: 3px dashed white;
  margin-top: 1em;
}
